* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, red, blue);
}

.container {
  width: 80%;
  height: 80vh;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  height: 60px;
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.header a {
  margin: 0px 20px;
  text-decoration: none;
  color: white;
  font-size: 0.8em;
}

.header a:hover {
  color: black;
}

.login-laguage {
  display: flex;
}

.todo-list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list-box {
  width: 90%;
  height: 90%;
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-list-box input {
  width: 90%;
  margin: 10px 0px;
  text-align: left;
}

.todo-list-title {
  width: 100%;
  height: 40px;
  background: rgba(255, 255, 255, 0.3);
  color: white;
  display: flex;
  align-items: center;
  padding: 0px 20px;
}

.form {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.form .submit {
  margin-left: 30px;
  width: 120px;
  background: #3498db;
  border: none;
  border-radius: 10px;
  padding: 0px 10px;
  color: white;
  font-weight: bold;
  text-align: center;
}

.submit:hover {
  cursor: pointer;
}

.submit:active {
  background: magenta;
}

@media (max-width: 600px) {
  .header {
    padding: 0px 10px;
  }

  .header a {
    margin: 0px 10px;
    font-size: 0.5em;
  }

  .form {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .form .submit {
    height: 30px;
    margin-left: 0px;
  }

  .todo-list-title {
    font-size: 0.7em;
  }
}
